* {
  box-sizing: border-box;
}

a {
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  font-size: 12px;
  text-align: center;
}

ul {
  width: 100%;
  font-size: 50px;
  text-align: center;
}

ul.navigation-reference-page{
  font-size: 20px;
}

li {
  border: 2px solid white;
  border-radius: 5%;
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-top: 115px;
}

li.reference-link {
  width: 100px;
  height: 50px;
  padding: 10px;
}

li:hover {
  background-color: white;
  color: black;
}

.reference-section {
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
}

.reference-section-title {
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}

.reference-section-body {
  padding: 5px;
}

.page-title {
  text-align: center;
  font-size: 75px;
}

.sub-title {
  text-align: center;
  font-weight: normal;
}
